
<div class="dashboard-container">
        <div class="welcome">
            <h2>Hello!<br>
                Welcome to the Dashboard<br>
                <i>we were waiting for you</i><br>
                <i>select an action to continue</i>

            </h2>
            
                <div class="button-group">
                    <button (click)="navigateToCreateNewCase()">Create New Case</button>
                    <button (click)="navigateToViewExistingCase()">View Existing Case</button>
                </div>
        </div>
        <footer>
            <p>&copy; 2024 MB.ACMTS. All rights reserved.</p>
          </footer>
</div>
  